{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select id="stock" name="symbol">
            {% for key, value in stocks.items() %}
                <option value={{ key }}> {{ key }}, owned {{ value }} </option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input min="1" autocomplete="off" autofocus class="form-control" name="amount" placeholder="Amount" type="number">
        </div>
        <button id="submit" class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
